.Rproj.user
.DS_Store
/public/
/resources/
Thumbs.db

/website-data/~$course-schedule.xlsx

/nopublish/
/data/kaggle-data/

/static/slides/w5_cache/
/data/crime.csv

/content/post/lab-2/index.Rmarkdown
/content/post/lab-3/index.Rmarkdown

/content/post/homework-1/index.Rmarkdown
/static/slides/w9p1_cache/


content/post/lab-2/index_files/figure-html/*
content/post/lab-3/index_files/figure-html/*
content/post/lab-3/lab-3_files/*