.Rproj.user
.DS_Store
/public/
/resources/
Thumbs.db

/website-data/~$course-schedule.xlsx

/nopublish/
/data/kaggle-data/

/static/slides/w5p1_cache/
/data/crime.csv

/content/post/lab-1/index.Rmarkdown
/content/post/lab-2/index.Rmarkdown
/content/post/lab-3/index.Rmarkdown

/content/post/homework-1/index.Rmarkdown
/content/post/homework-2/index.Rmarkdown
/static/slides/w9p1_cache/

content/post/lab-1/index_files/figure-html/initial-exploration-1.png

content/post/lab-1/index_files/figure-html/initial-exploration-2.png

content/post/lab-1/index_files/figure-html/initial-exploration-3.png

content/post/lab-1/index_files/figure-html/initial-exploration-4.png

content/post/lab-1/index_files/figure-html/initial-exploration-5.png

content/post/lab-1/index_files/figure-html/initial-exploration-6.png

content/post/lab-1/index_files/figure-html/initial-exploration-7.png

content/post/lab-1/index_files/figure-html/initial-exploration-8.png

content/post/lab-1/index_files/figure-html/initial-exploration-9.png
