.Rproj.user
.DS_Store
/public/
/resources/
Thumbs.db

/website-data/~$course-schedule.xlsx

/nopublish/
/data/kaggle-data/

/static/slides/w5_cache/
/data/crime.csv

/content/post/lab-2/index.Rmarkdown
/content/post/lab-3/index.Rmarkdown

/content/post/homework-1/index.Rmarkdown
/static/slides/w9p1_cache/


content/post/lab-2/index_files/figure-html/answers-1.png

content/post/lab-2/index_files/figure-html/answers-2.png

content/post/lab-2/index_files/figure-html/answers-3.png

content/post/lab-2/index_files/figure-html/answers-4.png

content/post/lab-2/index_files/figure-html/answers-5.png

content/post/lab-2/index_files/figure-html/answers-6.png

content/post/lab-2/index_files/figure-html/answers-7.png

content/post/lab-2/index_files/figure-html/answers-8.png
